In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
dfs= pd.read_html(url, match='.+', header=0, flavor='bs4')
dfs

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M5A  Downtown Toronto
 6        M6A        North York
 7        M6A        North York
 8        M7A      Queen's Park
 9        M8A      Not assigned
 10       M9A         Etobicoke
 11       M1B       Scarborough
 12       M1B       Scarborough
 13       M2B      Not assigned
 14       M3B        North York
 15       M4B         East York
 16       M4B         East York
 17       M5B  Downtown Toronto
 18       M5B  Downtown Toronto
 19       M6B        North York
 20       M7B      Not assigned
 21       M8B      Not assigned
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M9B         Etobicoke
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M1C       Scarborough
 ..       ...               ...
 259      M9X      Not assigned
 260      M1Y      Not assigned
 261      M2Y      Not assigned
 262      M3Y      Not assigned
 263      M4Y  Downtown Toronto
 264      M5Y      Not assigned
 265      M6Y      Not assigned
 266      M7Y      East Toronto
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M8Y         Etobicoke
 274      M8Y         Etobicoke
 275      M9Y      Not assigned
 276      M1Z      Not assigned
 277      M2Z      Not assigned
 278      M3Z      Not assigned
 279      M4Z      Not assigned
 280      M5Z      Not assigned
 281      M6Z      Not assigned
 282      M7Z      Not assigned
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M8Z         Etobicoke
 287      M8Z         Etobicoke
 288      M9Z      Not assigned

                                         Neighbourhood
 0                                        Not assigned
 1                                        Not assigned
 2                                           Parkwoods
 3                                    Victoria Village
 4                                        Harbourfront
 5                                         Regent Park
 6                                    Lawrence Heights
 7                                      Lawrence Manor
 8                                        Not assigned
 9                                        Not assigned
 10                                   Islington Avenue
 11                                              Rouge
 12                                            Malvern
 13                                       Not assigned
 14                                    Don Mills North
 15                                   Woodbine Gardens
 16                                      Parkview Hill
 17                                            Ryerson
 18                                    Garden District
 19                                          Glencairn
 20                                       Not assigned
 21                                       Not assigned
 22                                         Cloverdale
 23                                          Islington
 24                                       Martin Grove
 25                                   Princess Gardens
 26                                    West Deane Park
 27                                     Highland Creek
 28                                         Rouge Hill
 29                                         Port Union
 ..                                                ...
 259                                      Not assigned
 260                                      Not assigned
 261                                      Not assigned
 262                                      Not assigned
 263                              Church and Wellesley
 264                                      Not assigned
 265                                      Not assigned
 266  Business reply mail Processing Centre969 Eastern
 267                                        Humber Bay
 268                                  King's Mill Park
 269                          Kingsway Park South East
 270                                         Mimico NE
 271                                    Old Mill South
 272                                The Queensway East
 273                             Royal York South East
 274                                          Sunnylea
 275                                      Not assigned
 276                                      Not assigned
 277                                      Not assigned
 278                                      Not assigned
 279                                      Not assigned
 280                                      Not assigned
 281                                      Not assigned
 282                                      Not assigned
 283                          Kingsway Park South West
 284                                         Mimico NW
 285                                The Queensway West
 286                             Royal York South West
 287                                    South of Bloor
 288                                      Not assigned

 [289 rows x 3 columns],
                                           Unnamed: 0 Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                    NL
 1                                                 NL                    NS
 2                                                  A                     B

   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
 0         NS         PE         NB         QC         ON         MB
 1         PE         NB         QC         ON         MB         SK
 2          C          E          G          H          J          K

   Unnamed: 8 Unnamed: 9     ...     Unnamed: 21 Unnamed: 22 Unnamed: 23  \
 0         SK         AB     ...               L           M           N
 1         AB         BC     ...             NaN         NaN         NaN
 2          L          M     ...             NaN         NaN         NaN

   Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
 0           P           R           S           T           V           X
 1         NaN         NaN         NaN         NaN         NaN         NaN
 2         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 30
 0           Y
 1         NaN
 2         NaN

 [3 rows x 31 columns],
   NL NS PE NB QC ON MB SK AB BC NU/NT YT Unnamed: 12 Unnamed: 13 Unnamed: 14  \
 0  A  B  C  E  G  H  J  K  L  M     N  P           R           S           T

   Unnamed: 15 Unnamed: 16 Unnamed: 17
 0           V           X           Y  ]

In [4]:
dfs[0].columns = ['PostalCode', 'Borough', 'Neighborhood']
df=dfs[0]
df[0:5]

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [5]:
mask = df['Borough'].isin(['Not assigned'])
df_drop=df[~mask]
df_drop[0:5]

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [6]:
df_group=df_drop.groupby(['PostalCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
df_group[0:5]

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [7]:
df_group.shape

(103, 3)